@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');


/***** GLOBAL STYLES *****/
/* Sets the standard background colour and font family for the body of the website */
body {
  font-family: "Montserrat", Arial, sans-serif;
}

.blue-bg-text {
  color: #ffff;
  font-weight: 500;
}

.white-bg-text {
  color: #054FB9;
  font-weight: 500;
}

/* Fix for alt tags - See bug notes */
.homepage-image-containter {
  min-height: 200px;
  color: black;
}

/***** SCROLL BAR - Styling learned from modifying code from portfolio cards*****/
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-thumb {
  background: #0073E6;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(5, 79, 185, .25);
}

::-webkit-scrollbar-track {
  background: #d8d8d8;
}

/***** NAVBAR *****/
/* CSS gradients found here -> https://www.w3schools.com/css/css3_gradients.asp */
.navbar {
  background-image: linear-gradient(to right, #054FB9, #0073E6);
  box-shadow: 0px 3px 6px #292929;
}

#navbar-logo {
  height: 44px;
  width: 220px;
}

.navbar-nav .nav-item .nav-link {
  color: white;
  font-weight: 500;
  padding: 20px;
}

/* Change burger icon colour -> https://www.youtube.com/watch?v=SPoy8_ZtvKs */
.navbar-toggler {
  filter: invert(100%);
}

/*Hover styling for the Navbar -> https://ianlunn.github.io/Hover/ */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #ffffff;
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Text "glow" on hover - See bugs section for the reason this was used over bold text */
.navbar-nav .nav-item .nav-link:hover {
  text-shadow: 0px 0px 2.5px #ffff;
}

/* Off Canvas Navbar */
#offcanvasNavbar {
  background-color: #0461CF;
  max-width: 70vw;
  color: white;
}

/***** BUTTONS *****/
.dark-blue-btn {
  background-color: #054FB9;
  color: #ffffff;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 3px 6px #292929;
  padding: 4px 10px;
  margin-bottom: 15px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.dark-blue-btn:hover {
  background-color: #0073E6;
  box-shadow: none;
  transform: translateY(1px);
}

.light-blue-btn {
  background-color: #04ABD4;
  color: #ffffff;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 3px 6px #292929;
  padding: 4px 10px;
  margin-bottom: 15px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.light-blue-btn:hover {
  background-color: #0BCCE2;
  box-shadow: none;
  transform: translateY(1px);
}

/***** HOME *****/
#home {
  background-image: url("../images/wave1.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Home section image */
.hero-image {
  width: 100%;
  border-radius: 300px 100px 100px 100px;
  box-shadow: 0px 3px 6px #292929;
}

@media screen and (min-width: 992px) {
  .hero-image {
    left: 10%;
    right: 10%;
    width: 80%;
  }
}

/***** ABOUT US *****/
#about-us {
  scroll-margin-top: 4em;
}

.about-us-image {
  width: 100%;
  border-radius: 100px 100px 300px 100px;
  box-shadow: 0px 3px 6px #292929;
}

@media screen and (min-width: 992px) {
  .about-us-image {
    left: 10%;
    right: 10%;
    width: 80%;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .about-us-image {
    margin-top: 100px;
  }
}

/***** SERVICES *****/
#services {
  scroll-margin-top: 4em;
}

/* Flip card - Code taken from here and restyled, aslo added pseudo classes so the cards flip on tab for accessibility -> https://www.w3schools.com/howto/howto_css_flip_card.asp */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 3px 6px 0 #292929;
  border-radius: 15px;
}

/* Do an horizontal flip when you move the mouse over or tab the flip box container */
.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner,
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.flip-card-front {
  background-color: #054FB9;
  color: #ffffff;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  border-radius: 15px;
}

.click-or-hover {
  position: absolute;
  bottom: 5%;
  right: 20%;
  font-weight: 400;
}

/* Style the back side */
.flip-card-back {
  background-color: #0073E6;
  color: #ffffff;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  border-radius: 15px;
  transform: rotateY(180deg);
}

/* Change card positioning on medium screen sizes */
@media (min-width: 767.98px) and (max-width: 991.98px) {
  #services {
    position: relative;
  }

  #services-header {
    text-align: center;
    padding-top: 75px;
  }

  #flip-card-2 {
    position: absolute;
    bottom: 250px;
  }
}

/***** REVIEWS *****/
#reviews {
  scroll-margin-top: 4em;
  max-width: 1165px;
  margin: auto;
}

/* Carousel */
.carousel-buttons {
  filter: invert(100);
}


/* Review Card */
.card {
  padding: 10px;
  box-shadow: 0 3px 6px 0 #292929;
}

/* Review Card Image - Example taken and restyled from code institute love running project */
.review-image-container {
  padding-bottom: 20px;
}

.review-image-circle-container {
  width: 100px;
  height: 100px;
  padding: 10px;
  border-style: solid;
  border-color: #0073E6;
  border-width: 2px;
  border-radius: 50%;
  margin: 0 auto;
}

#review-image-1 {
  background: url("../images/jackwilson.webp") no-repeat center center;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #0073E6;
  border-radius: 50%;
}

#review-image-2 {
  background: url("../images/milliejames.webp") no-repeat center center;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #0073E6;
  border-radius: 50%;
}

#review-image-3 {
  background: url("../images/jennybaker.webp") no-repeat center center;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #0073E6;
  border-radius: 50%;
}

#review-image-4 {
  background: url("../images/carlostaylor.webp") no-repeat center center;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #0073E6;
  border-radius: 50%;
}

/***** CONTACT US *****/
#contact-us {
  padding-top: 75px;
  padding-bottom: 10px;
  background-image: url("../images/wave2.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#contact-us h2 {
  scroll-margin-top: 4em;
  margin-top: 30px;
}

.contact-us-image {
  width: 100%;
  border-radius: 100px 100px 300px 100px;
  box-shadow: 0px 3px 6px #292929;
}

@media screen and (min-width: 992px) {
  .contact-us-image {
    left: 10%;
    right: 10%;
    width: 80%;
  }
}

/* Contact Us Form */
input {
  border-radius: 15px;
  border-style: none;
  border-left: 7px solid transparent;
  outline: none;
  width: 250px;
  max-width: 100%;
  margin-bottom: 10px;
  box-shadow: 0px 3px 6px #292929;

}

::placeholder {
  padding-left: 5px;
}

textarea {
  border-radius: 15px;
  resize: none;
  border-right: 10px solid transparent;
  border-left: 7px solid transparent;
  outline: none;
  max-width: 100%;
  margin-bottom: 10px;
  box-shadow: 0px 3px 6px #292929;
}

label {
  padding-left: 10px;
}

/* Contact Details */
#contact-details a,
#contact-details p {
  text-decoration: none;
  color: white;
}

.contact-links {
  transition: transform 0.3s ease-in-out;
}

.contact-links:hover {
  transform: translateY(-2px);
  text-shadow: 0px 0px 2.5px #ffff;
}


#map {
  width: 400px;
  height: 300px; 
  border-radius: 15px;
  box-shadow: 0px 3px 6px #292929;
  max-width: 100%;
}

/***** FOOTER *****/
footer {
  background-image: linear-gradient(to right, #054FB9, #0073E6);
  box-shadow: 0px -1px 3px #292929;
}

#footer-logo {
  height: 44px; 
  width: 220;
}

footer a {
  text-decoration: none;
  color: white;
}

#disclaimer {
  font-size: small;
}

/***** THANK YOU PAGE *****/
#thank-you {
  background-image: url("../images/wave1.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/***** PORTFOLIO *****/
#portfolio-section {
  margin-bottom: 25px;
  background-image: url("../images/wave1.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "Montserrat", Arial, sans-serif;
}

/* Portfolio Cards - Code taken from this tutorial and restyled -> https://www.youtube.com/watch?v=29deL9MFfWc */
.p-card-list {
  display: flex;
  padding: 3rem;
  overflow-x: auto;
}

.p-card-list::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

.p-card-list::-webkit-scrollbar-thumb {
  background: #0073E6;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(5, 79, 185, .25);
}

.p-card-list::-webkit-scrollbar-track {
  background: #d8d8d8;
  border-radius: 15px;
  margin: 0 50px;
}

.p-card {
  height: 300px;
  width: 250px;
  min-width: 250px;
  padding: 1rem;
  border-radius: 16px;
  background-image: linear-gradient(to right, #054FB9, #0073E6);
  box-shadow: -10px 0px 10px #292929;
  display: flex;
  flex-direction: column;
  transition: .2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
}

.p-card:focus-within~.p-card,
.p-card:hover~.p-card {
  transform: translateX(130px);
}

.p-card:hover {
  transform: translateY(-1rem);
}

.p-card:not(:first-child) {
  margin-left: -130px;
}

.p-card-header {
  margin-bottom: auto;
}

.p-card-header p {
  font-size: 16px;
}

.p-card-header h2 {
  font-size: 22px;
}

.p-card-image-button {
  background: none;
	border: none;
}

.p-card-image {
  width: 210px;
  height: 101px;
  border-radius: 5px;
  box-shadow: 0px 3px 6px #292929;
  cursor: pointer;
}

.p-card-header .p-card-hint {
  font-size: 12px;
}

.modal-content {
  border-radius: 15px; 
}

.modal-image {
  width: 450px;
  height: 216px;
  border-radius: 5px;
  box-shadow: 0px 3px 6px #292929;
  max-width: 80vw;
  height: auto;
}