@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');


/***** GLOBAL STYLES *****/
/* Sets the standard background colour and font family for the body of the website */
body {
  font-family: "Montserrat", Arial, sans-serif;
  }

.blue-bg-text {
  color: #ffff;
  font-weight: 500;
}

.white-bg-text {
  color: #054FB9;
  font-weight: 500;
}

/***** NAVBAR *****/
/* CSS gradients found here -> https://www.w3schools.com/css/css3_gradients.asp */
.custom-navbar-bg {
  background-image: linear-gradient(to right, #054FB9, #0073E6);
}

.navbar-nav .nav-item .nav-link {
  color: white;
  font-weight: 500;
  padding: 20px;
}

.navbar {
  box-shadow: 1px 0px 8px 3px #292929;
}

/* Change burger icon colour -> https://www.youtube.com/watch?v=SPoy8_ZtvKs */
.navbar-toggler {
  filter: invert(100%);
}

/*Hover styling for the Navbar -> https://ianlunn.github.io/Hover/ */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #ffffff;
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Text "glow" on hover - See bugs section for the reason this was used over bold text */
.navbar-nav .nav-item .nav-link:hover {
  text-shadow: 0px 0px 2.5px #ffff;
}

/* Off Canvas Navbar */
#offcanvasNavbar {
  background-color: #0461CF;
  max-width: 70vw;
  color: white;
}

/***** BUTTONS *****/
.dark-blue-btn {
  background-color: #054FB9;
  color: #ffffff;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  box-shadow: -3px 3px 3px #292929;
  padding: 4px 10px;
  margin-bottom: 15px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.dark-blue-btn:hover {
  background-color: #0073E6;
  box-shadow: none;
  transform: translateY(1px);
}

.light-blue-btn {
  background-color: #04ABD4;
  color: #ffffff;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  box-shadow: -3px 3px 3px #292929;
  padding: 4px 10px;
  margin-bottom: 15px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.light-blue-btn:hover {
  background-color: #0BCCE2;
  box-shadow: none;
  transform: translateY(1px);
}

/***** HOME *****/
.home-section {
  background-image: url("../images/wave1.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  }

/* Home section image */
.hero-image {
  left: 10%;
  right: 10%;
  width: 80%;
  border-radius: 300px 100px 100px 100px
}

/***** ABOUT US *****/
#about-us {
  scroll-margin-top: 4em;
}

.about-us-image {
  left: 10%;
  right: 10%;
  width: 80%;
  border-radius: 100px 100px 300px 100px
}

/***** SERVICES *****/
#services {
  scroll-margin-top: 4em;
}

/* Flip card - Code taken from here and restyled, aslo added pseudo classes so the cards flip on tab for accessibility -> https://www.w3schools.com/howto/howto_css_flip_card.asp */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 #292929;
  border-radius: 15px;
}

/* Do an horizontal flip when you move the mouse over or tab the flip box container */
.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner,
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.flip-card-front {
  background-color: #054FB9;
  color: #ffffff;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  border-radius: 15px;
}

.click-or-hover {
  position: absolute;
  bottom: 5%;
  right:20%;
  font-weight: 400;
}

/* Style the back side */
.flip-card-back {
  background-color: #0073E6;
  color: #ffffff;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  border-radius: 15px;
  transform: rotateY(180deg);
}

/* Change card positioning on medium screen sizes */
@media (min-width: 767.98px) and (max-width: 991.98px) {
  #services {
    position: relative;
  }

  #services-header {
    text-align: center;
    padding-top: 75px;   
  }
    
  #flip-card-2 {
    position: absolute;
    bottom: 250px;
  }
}

/***** REVIEWS *****/
#reviews {
  scroll-margin-top: 4em;
  max-width: 1165px;
  margin: auto;
}

/* Carousel */
.carousel-buttons {
  filter: invert(100);
}

/* Review Card */
.card {
  padding: 10px;
  box-shadow: 0 4px 8px 0 #292929;
}

/* Review Card Image - Example taken and restyled from code institute love running project */
.review-image-container {
  padding-bottom: 20px;
}

.review-image-circle-container {
  width: 100px;
  height: 100px;
  padding: 10px;
  border-style: solid;
  border-color: #0073E6;
  border-width: 2px;
  border-radius: 50%;
  margin: 0 auto;
}

#review-image-1 {
  background: url("../images/jackwilson.png") no-repeat center center;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #0073E6;
  border-radius: 50%;
}

#review-image-2 {
  background: url("../images/milliejames.png") no-repeat center center;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #0073E6;
  border-radius: 50%;
}

#review-image-3 {
  background: url("../images/jennybaker.png") no-repeat center center;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #0073E6;
  border-radius: 50%;
}

#review-image-4 {
  background: url("../images/carlostaylor.png") no-repeat center center;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #0073E6;
  border-radius: 50%;
}