@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');


/***** GLOBAL STYLES *****/
/* Sets the standard background colour and font family for the body of the website */
body {
  font-family: "Montserrat", Arial, sans-serif;
  }

.blue-bg-text {
  color: #ffff;
  font-weight: 500;
}

.white-bg-text {
  color: #054FB9;
  font-weight: 500;
}

/***** NAVBAR *****/
/* CSS gradients found here -> https://www.w3schools.com/css/css3_gradients.asp */
.custom-navbar-bg {
  background-image: linear-gradient(to right, #054FB9, #0073E6);
}

.navbar-nav .nav-item .nav-link {
  color: white;
  font-weight: 500;
  padding: 20px;
}

.navbar {
  box-shadow: 1px 0px 8px 3px #292929;
}

/* Change burger icon colour -> https://www.youtube.com/watch?v=SPoy8_ZtvKs */
.navbar-toggler {
  filter: invert(100%);
}

/*Hover styling for the Navbar -> https://ianlunn.github.io/Hover/ */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #ffffff;
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Text "glow" on hover - See bugs section for the reason this was used over bold text */
.navbar-nav .nav-item .nav-link:hover {
  text-shadow: 0px 0px 2.5px #ffff;
}

/* Off Canvas Navbar */

#offcanvasNavbar {
  background-color: #0461CF;
  max-width: 70vw;
  color: white;
}

/***** HOME *****/
.home-section {
  background-image: url(/assets/images/wave1.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  }

/* Home section image */
.hero-image {
  left: 10%;
  right: 10%;
  width: 80%;
  border-radius: 300px 100px 100px 100px
}

/* Home section button (leads to about us) */
#about-us-btn {
  background-color: #04ABD4;
  color: #ffffff;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  box-shadow: -3px 3px 3px #292929;
  padding: 4px 10px;
  margin-bottom: 15px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

#about-us-btn:hover {
  background-color: #0BCCE2;
  box-shadow: none;
  transform: translateY(1px);
}

/***** ABOUT US *****/
#about-us {
  scroll-margin-top: 2em;
}

.about-us-image {
  left: 10%;
  right: 10%;
  width: 80%;
  border-radius: 100px 100px 300px 100px
}

#services-btn {
  background-color: #054FB9;
  color: #ffffff;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  box-shadow: -3px 3px 3px #292929;
  padding: 4px 10px;
  margin-bottom: 15px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

#services-btn:hover {
  background-color: #0073E6;
  box-shadow: none;
  transform: translateY(1px);
}